body {
    font-family: "Quicksand", sans-serif;
    line-height: 1.7; 
    font-size: 18px; 
}

h2, h3, h4, h5, h6 {
    letter-spacing: 2px;
    font-weight: 700; 
    margin-top: 20px;
    margin-bottom: 20px;
}
.mySlides {
    display: none;
}

.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #003366!important; 
}
.w3-tag.w3-green, 
.w3-badge {
    background-color: #FD7E14 !important;
    color: white !important;
}
.w3-button.w3-black:hover {
     background-color: #004d99 !important;
}

.w3-container.w3-content.w3-padding-64 {
    padding-top: 48px !important; 
    padding-bottom: 48px !important; 
}

.w3-container.w3-padding-64.w3-center.w3-opacity.w3-light-grey {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.mySlides img {
    height: 80vh; 
    max-height: 700px;
    object-fit: cover;
}

.w3-circle.w3-hover-opacity {
    transition: 0.3s;
    width: 180px !important; 
    height: 180px !important; 
    border-radius: 50% !important; 
    object-fit: cover !important; 
    border: 3px solid #FD7E14; 
    margin-top: 15px !important; 
    margin-bottom: 25px !important; 
}

@media (max-width: 600px) {
    #doi-bong img.w3-circle {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
table {
    width: 100%;
    border-collapse: collapse; 
    font-family: Arial, sans-serif;
}
th, td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: center; 
}
th {
    background-color: #f2f2f2; 
    color: #333;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f9f9f9; 
}
caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007bff; 
    color: white;
}
table, th, td {
    border: 1px solid black; /* Thêm viền 1px, liền nét, màu đen */
}
table {
    border-collapse: collapse; /* Gộp viền lại thành một đường duy nhất */
}
/* Fix dropdown bên trong navbar W3.CSS */
.w3-dropdown-hover .w3-dropdown-content {
    margin-top: 0;
    top: 52px; /* bằng chiều cao navbar */
}

/* Đảm bảo nút THÊM không bị nhảy khi hover */
.w3-dropdown-hover:hover > .w3-button {
    background-color: #000 !important;
    color: #fff !important;
}

